<%# local variables: ongoing, completed %>

<div id="tasks">
  <%# list ongoing tasks %>
  <div id="ongoing-tasks-heading">
    <a href="#ongoing-tasks" data-toggle="collapse" class="text-dark">
      <h2 class="d-inline"><%= "Ongoing (#{ongoing.size})" %></h2>
      <%= reminder_for_urgent_tasks ongoing %>
      <%= alert_for_overdue_tasks ongoing %>
    </a>
  </div>

  <% if ongoing.any? %>
    <div id="ongoing-tasks" class="collapse">
      <%= render partial: 'task_summary', collection: ongoing, as: 'task' %>
    </div>
  <% else %>
    <%= image_tag 'no_tasks_man_relaxing.jpg',
                  class: 'img-fluid w-50 d-block mx-auto' %>
    <p class="text-center font-weight-bold" style="text-decoration: underline;">Nicely done!</p>
    <p class="text-center">You've finished all your tasks!</p>
    <p class="text-center">Take a second to recharge</p>
  <% end %>

  <%# list completed tasks %>
  <div id="completed-tasks-heading">
    <a href="#completed-tasks" data-toggle="collapse" class="text-dark">
      <h2 class="d-inline"><%= "Completed (#{completed.size})" %></h2>
    </a>
  </div>
  <div id="completed-tasks" class="collapse">
    <%= render partial: 'task_summary', collection: completed, as: 'task' %>
  </div>
</div>
