<%# local variables: task %>

<%# display the task in a Bootstrap 'card' entity %>
<%= content_tag :div,
                class: 'card collapse show task' +
                  (task.completed? ? ' completed' : ''),
                data: {
                  'deadline' => task.deadline.to_i,
                  'time-updated' => task.updated_at.to_i
                } do %>
  <%# empty/ticked circle, task title, status %>
  <div class="card-body">
    <div class="row mb-2">
      <div class="col flex-grow-0">
        <%= toggle_complete_icon task %>
      </div>
      <div class="col">
        <h5 class="task-title d-inline font-weight-bold"><%= task.title %></h5>
        <% if task.urgent? %>
          <%= urgent_icon %>
        <% elsif task.overdue? %>
          <%= overdue_icon %>
        <% end %>
      </div>
    </div>

  <%# description, deadline, tags %>
    <% if task.description.present? %>
      <div class="row">
        <div class="col flex-grow-0 task-detail">
          <%= description_icon %>
        </div>
        <div class="task-description col">
          <%= task.description %>
        </div>
      </div>
    <% end %>

    <% if task.deadline.present? %>
      <div class="row">
        <div class="col flex-grow-0 task-detail">
          <%= deadline_icon %>
        </div>
        <div class="col">
          <div class="task-deadline task-deadline-utc">
            <%= task.deadline.iso8601 %>
          </div>
          <div>
            <% if task.overdue? %>
              <span class="text-danger">
                <%= ' ' + time_ago_in_words(task.deadline) + ' ago' %>
              </span>
            <% elsif task.urgent? %>
              <span style="color: orange;">
                <%= ' ' + distance_of_time_in_words_to_now(task.deadline) + ' later'%>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if task.tags.any? %>
      <div class="row">
        <div class="col flex-grow-0 task-detail">
          <%= tag_icon %>
        </div>
        <div class="task-tags col">
          <% task.tags.each do |tag| %>
            <%= tag_with_link(tag.name) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%# edit, delete %>
    <div class="mt-2">
      <%= edit_task_icon(task) %>
      <%= destroy_task_icon(task) %>
    </div>
  </div>
<% end %>
