<h1>To-do List</h1>

<%= link_to 'New Task', new_task_path %> |
<%= link_to_tags_path %>
<p>
  <%= render 'search_form' %>
</p>

<p>
  <%= render 'order_links', order_path: tasks_path %>
</p>

<%= render partial: 'task_list',
           locals: {
               ongoing: @ongoing,
               completed: @completed
           } %>