<%# details of a task %>
<h2><%= @task.title %></h2>

<ul>
  <li>
    <strong>Status: </strong>
    <%= @task.status %>
  </li>

  <% if @task.description.present? %>
    <li>
      <strong>Description: </strong>
      <%= @task.description %>
    </li>
  <% end %>

  <% if @task.deadline.present? %>
    <li>
      <strong>Deadline: </strong>
      <%= utc_to_user_time(@task.deadline).friendly_format %>
    </li>
  <% end %>

  <% if @task.tags.any? %>
    <li>
      <strong>Tags:</strong>
      <em>
        <% @task.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </em>
    </li>
  <% end %>
</ul>

<%# navigational links %>
<%= render 'nav_links', task: @task, on_homepage: false %>
