<%# local variables: task %>

<%# render a task along with its description, deadline, and tags %>
<%= content_tag :div, class: task.status + '_task' do %>
  <strong>
    <%= "#{task_counter + 1}. " %>
    <%= link_to task.title, task_path(task) %>
  </strong><br>
  <p>
    <%= render 'nav_links', task: task, on_homepage: true %>
  </p>
  <ul>
    <% unless task.description.nil? %>
      <li>
        <strong>Description: </strong>
        <%= truncate task.description, length: 30 %>
      </li>
    <% end %>

    <% if task.deadline.present? %>
      <li>
        <strong>Deadline: </strong>
        <%= utc_to_user_time(task.deadline).friendly_format %>
      </li>
    <% end %>

    <% if task.tags.any? %>
      <li>
        <strong>Tags:</strong>
        <em>
          <% task.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </em>
      </li>
    <% end %>
  </ul>
<% end %>
