<%# local variables: task %>

<%# display the task in a Bootstrap 'card' entity %>
<div class="card mb-4<%= ' completed' if task.completed? %>">
  <%# empty/ticked circle, task title, status %>
  <div class="card-header">
    <%= toggle_complete_icon task %>
    <h5 class="d-inline font-weight-bold"><%= task.title %></h5>
    <%= status_icon task %>
  </div>

  <%# description, deadline, tags %>
  <div class="card-body">
    <% if task.description.present? %>
      <p>
        <%= description_icon %>
        <%# TODO: add collapse effect for excessively long descriptions %>
        <%= truncate task.description, length: 30 %>
      </p>
    <% end %>

    <% if task.deadline.present? %>
      <p>
        <%= deadline_icon %>
        <%= utc_to_user_time(task.deadline).friendly_format %>
      </p>
    <% end %>

    <% if task.tags.any? %>
      <p>
        <%= tag_icon %>
        <% task.tags.each do |tag| %>
          <%= tag_button(tag) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <%# edit, delete %>
  <div class="card-footer">
    <%= render 'nav_links', task: task %>
  </div>
</div>
