<%# local variables: task %>

<%# display the task in a Bootstrap 'card' entity %>
<%= content_tag :div,
                class: 'card mb-4 collapse show task' +
                  (task.completed? ? ' completed' : ''),
                data: {
                  'deadline' => task.deadline.to_i,
                  'time-updated' => task.updated_at.to_i
                } do %>
  <%# empty/ticked circle, task title, status %>
  <div class="card-header">
    <div class="row">
      <div class="col-1">
        <%= toggle_complete_icon task %>
      </div>
      <div class="col-11">
        <h5 class="task-title d-inline font-weight-bold"><%= task.title %></h5>
        <% if task.urgent? %>
          <%= urgent_icon %>
        <% elsif task.overdue? %>
          <%= overdue_icon %>
        <% end %>
      </div>
    </div>
  </div>

  <%# description, deadline, tags %>
  <div class="card-body">
    <% if task.description.present? %>
      <div>
        <%= description_icon %>
        <div class="task-description d-inline">
          <%= task.description %>
        </div>
      </div>
    <% end %>

    <% if task.deadline.present? %>
      <div>
        <%= deadline_icon %>
        <div class="task-deadline task-deadline-utc d-inline">
          <%= task.deadline.iso8601 %>
        </div>
        <% if task.overdue? %>
          <span class="text-danger">
            <%= ' ' + time_ago_in_words(task.deadline) + ' ago' %>
          </span>
        <% elsif task.urgent? %>
          <span style="color: orange;">
            <%= ' ' + distance_of_time_in_words_to_now(task.deadline) + ' later'%>
          </span>
        <% end %>
      </div>
    <% end %>

    <% if task.tags.any? %>
      <div>
        <%= tag_icon %>
        <div class="task-tags d-inline">
          <% task.tags.each do |tag| %>
            <%= tag_with_link(tag) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%# edit, delete %>
  <div class="card-footer">
    <%= render 'nav_links', task: task %>
  </div>
<% end %>
