<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

  <%# a navigational bar to use throughout the app %>
  <nav class="navbar navbar-expand navbar-dark sticky-top mb-3" id="main-nav">
    <%= link_to tasks_path, class: 'navbar-brand' do %>
      <h2 class="font-weight-bold">
        <%= icon 'fas', 'check-square' %>
        To-Do List
      </h2>
    <% end %>
    <div class="navbar-nav">
      <%= link_to 'New Task', new_task_path, class: 'nav-link nav-item' %>
      <%= link_to 'Manage Tags', tags_path, class: 'nav-link nav-item' %>
    </div>
  </nav>

  <%# display flash messages %>
  <div class="container-fluid" id="alerts'">
      <% flash.each do |cat, msg| %>
        <%= content_tag :div,
                        class: 'alert alert-' + cat + ' fade show '\
                               'alert-dismissible mt-3 mx-auto' do %>
        <button class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        <% end %>
      <% end %>
  </div>

  <%# rest of page content %>
  <div class="container" id="content">
    <%= yield %>
  </div>

  <%# TODO: add footer and link to GitHub %>
  </body>
</html>
